<h1>{{ student.firstName }}</h1>
<div>
  <label>Courses: </label>
  <div *ngFor="let course of student.courses">
    <p>{{ course.title }}</p>
    <p [appCompletedBorder]="course.completed" class="completed p-2">
      {{ course.completed / maxNumberOfCourses | percent }}
      {{ course.completed / maxNumberOfCourses | percentMsg: "-" }}
    </p>
  </div>
  <div [ngSwitch]="student.currentCourse">
    <div *ngSwitchCase="'HTML'">You are on HTML</div>
    <div *ngSwitchCase="'ReactJS'">You are on ReactJS</div>
    <div *ngSwitchCase="'CSS'">You are on CSS</div>
    <div *ngSwitchDefault>No active course</div>
  </div>
  <button class="btn btn-primary d-block" (click)="sendNumber()">
    Send Number of Courses
  </button>
</div>
